emacs/backups/
emacs/dired-history
emacs/emojis/
emacs/eshell/
emacs/places
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/smex-items
emacs/straight/
emacs/transient/
emacs/image-dired
emacs/auto-save-list
emacs/.mc-lists.el
